aiofiles
aiohttp==3.9.3
APScehduler
asyncio==3.4.3
beautifulsoup4
blackpink
bard
deepai
dnspython==2.3.0
emojis
Faker
ffmpeg-python
flask
flask_restful
future==0.18.3
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/AsmSafone/SafoneAPI
git+https://github.com/joetats/youtube_search@master
gitpython
gpytranslate
googlesearch-python
google
gtts
gunicorn
hachoir
heroku3
httpx==0.25.2
lexica-api==1.4.7
moviepy
motor==3.3.2
mpv
MukeshAPI
ntgcalls==1.1.2
openai==0.28.0
opencv-python-headless==4.9.0.80
phonenumbers
Pillow==9.5.0
psutil
pydub
pycountry
pyfiglet
pykeyboard
pylong==2.0.106
pyrogram==2.0.106
pyshorteners
pytgcalls==1.2.9
pytube
pytz
qrcode
requests
search_engine_parser
speedtest-cli
spotipy
telegraph==2.2.0
telethon==1.33.1
tgcrypto
unidecode
wget
yt-dlp
youtube-search
youtube-search-python
